force-app/main/default/flows/Add_Free_Quantities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Unsealed_Quantity</name>
        <label>Assign Unsealed Quantity</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>sumQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Unsealed_Items.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Unsealed_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Quantity_Is_Not_Null</name>
        <label>Check Quantity Is Not Null</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quantity_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Quantity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_all_unsealed_items</targetReference>
            </connector>
            <label>Quantity Is Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calculateAvailableQuantity</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Stock__r.Intial_Stock__c} - {!$Record.Stock__r.Sold_Qty__c}- {!$Record.Stock__r.Blocked_Quantity__c} - {!$Record.Stock__r.Replaced_Quantity__c}- {!sumQuantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Add Free Quantities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Free Quantities</label>
    <loops>
        <name>Iterate_Over_Unsealed_Items</name>
        <label>Iterate Over Unsealed Items</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>get_all_unsealed_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Unsealed_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Unsealed_Stock</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_unsealed_items</name>
        <label>get all unsealed items</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Unsealed_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quantity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stock__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Stock__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Unsealed_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Unsealed_Stock</name>
        <label>Update Unsealed Stock</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Available_Quantity__c</field>
            <value>
                <elementReference>calculateAvailableQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Free_Quantity__c</field>
            <value>
                <elementReference>sumQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Stock__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Quantity_Is_Not_Null</targetReference>
        </connector>
        <object>Unsealed_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>sumQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
