force-app/main/default/flows/Add_Blocked_Quantity_To_Stock.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Calculate_All_Quantity_Of_Sales_Invoice_Items</name>
        <label>Calculate All Quantity Of Sales Invoice Items</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>sumQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Sales_Order_Items.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Sales_Order_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the Quantity for created or updated Sales Invoices Items is not null</description>
        <name>Check_Quantity_Is_Not_Null</name>
        <label>Check Quantity Is Not Null</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Quantity Is Null</defaultConnectorLabel>
        <rules>
            <name>Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Sales_Order_Status_Is_New</targetReference>
            </connector>
            <label>Quantity Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sales_Order_Status_Is_New</name>
        <label>Check Sales Order Status Is New</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Sales Order Status Is Not New</defaultConnectorLabel>
        <rules>
            <name>Sales_Order_Status_Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_order__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sales_Order_Items_Of_Sales_Order</targetReference>
            </connector>
            <label>Sales Order Status Is New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculateAvailableQuantity</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Stock__r.Intial_Stock__c} - {!$Record.Stock__r.Sold_Qty__c} - {!$Record.Stock__r.Free_Quantity__c}- {!sumQuantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Add Blocked Quantity To Stock {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Blocked Quantity To Stock</label>
    <loops>
        <name>Iterate_Over_Sales_Order_Items</name>
        <label>Iterate Over Sales Order Items</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Sales_Order_Items_Of_Sales_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_All_Quantity_Of_Sales_Invoice_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Stock_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all Sales Order Items for Sales Order Record with status new</description>
        <name>Get_Sales_Order_Items_Of_Sales_Order</name>
        <label>Get Sales Order Items Of Sales Order</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Sales_Order_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quantity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stock__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Stock__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_order_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_order_item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Stock_Record</name>
        <label>Update Stock Record</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Available_Quantity__c</field>
            <value>
                <elementReference>CalculateAvailableQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Blocked_Quantity__c</field>
            <value>
                <elementReference>sumQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Stock__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Quantity_Is_Not_Null</targetReference>
        </connector>
        <object>Sales_order_item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>sumQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>totalQuantity</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
