force-app/main/default/flows/Item_replacement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Calculate_sum_of_quantity</name>
        <label>Calculate sum of quantity</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>SUMofquantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Item_over_replaced.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Item_over_replaced</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>itemReplacement_flow</name>
        <label>itemReplacement flow</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_replaced_qty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Item_Replacement__r.New_Approval_Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Replaced_item</targetReference>
            </connector>
            <label>Check  replaced qty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Item replacem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Item replacement</label>
    <loops>
        <name>Item_over_replaced</name>
        <label>Iterate over replaced items</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>get_Replaced_item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_sum_of_quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_stock_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Replaced_item</name>
        <label>get Replaced item</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Item_over_replaced</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quantity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>New_Stock__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.New_Stock__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Replaced_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_stock_record</name>
        <label>Update stock record</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Blocked_Quantity__c</field>
            <value>
                <elementReference>SUMofquantity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.New_Stock__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>itemReplacement_flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>New_Stock__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quantity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Replaced_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>SUMofquantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Item_over_replaced.New_Stock__r.Blocked_Quantity__c</elementReference>
        </value>
    </variables>
</Flow>
