force-app/main/default/flows/Remove_Blocked_Quantity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Remove_Blocked_Quantity</name>
        <label>Remove Blocked Quantity</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Stock.Blocked_Quantity__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Iterate_over_all_Sales_Order_Items.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stock.Available_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateAvailableQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Stock</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Sales_Order_Item_Has_Quantity</name>
        <label>Check if Sales Order Item Has Quantity</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_all_Sales_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quantity_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_all_Sales_Order_Items.Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Stock</targetReference>
            </connector>
            <label>Quantity is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sales_Order_Status_Is_Not_New</name>
        <label>Check Sales Order Status Is Not New</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Is_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Converted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Sales_Order_Items</targetReference>
            </connector>
            <label>Order Is Converted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculateAvailableQuantity</name>
        <dataType>Number</dataType>
        <expression>{!Get_Stock.Intial_Stock__c} - {!Get_Stock.Sold_Qty__c} - {!Get_Stock.Blocked_Quantity__c} -{!Get_Stock.Free_Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Stock {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remove Blocked Quantity</label>
    <loops>
        <name>Iterate_over_all_Sales_Order_Items</name>
        <label>Iterate over all Sales Order Items</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_All_Sales_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Sales_Order_Item_Has_Quantity</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Sales_Order_Items</name>
        <label>Get All Sales Order Items</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_all_Sales_Order_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_order_item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stock</name>
        <label>Get Stock</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remove_Blocked_Quantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_over_all_Sales_Order_Items.Stock__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stock__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Stock</name>
        <label>Update Stock</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Iterate_over_all_Sales_Order_Items</targetReference>
        </connector>
        <inputReference>Get_Stock</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Sales_Order_Status_Is_Not_New</targetReference>
        </connector>
        <object>Sales_order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>stockIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StockToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Stock__c</objectType>
    </variables>
</Flow>
