force-app/main/default/flows/Send_notification_for_geolocation_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_notification_for_geolocation_change</name>
        <label>Send notification for geolocation change</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_geolocation_change_alert.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>messageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>messageTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>add_owner_to_userList</name>
        <label>add owner to userList</label>
        <locationX>138</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>recipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_notification_for_geolocation_change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_system_admins_to_userList</name>
        <label>add system admins to userList</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>recipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_users.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_users</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_geo_location_is_changed</name>
        <label>Check if geolocation is changed</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Geolocation_is_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GeoLocation__Latitude__s</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GeoLocation__Longitude__s</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_geolocation_change_alert</targetReference>
            </connector>
            <label>Geolocation is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Owner_Is_Not_A_System_Admin</name>
        <label>Check If Owner Is Not A System Admin</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>add_owner_to_userList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Is_A_System_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_notification_for_geolocation_change</targetReference>
            </connector>
            <label>Owner Is A System Admin</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>messageBody</name>
        <dataType>String</dataType>
        <expression>&apos;Geolocation is updated for the customer:  &apos; + {!$Record.Name}+ &apos;.&apos;</expression>
    </formulas>
    <interviewLabel>Send notification for geolocation change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send notification for geolocation change</label>
    <loops>
        <name>Iterate_over_users</name>
        <label>Iterate over users</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>get_system_admins</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_system_admins_to_userList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_Owner_Is_Not_A_System_Admin</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_geolocation_change_alert</name>
        <label>get geolocation change alert</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_system_admins</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Geolocation Change Alert</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_system_admins</name>
        <label>get system admins</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e5g0000055KJt</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_geo_location_is_changed</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>messageTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Geolocation is changed!</stringValue>
        </value>
    </variables>
    <variables>
        <name>recipientList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
