force-app/main/default/flows/Send_Stock_Expiry_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Custom_Notification</name>
        <label>Send Custom Notification</label>
        <locationX>297</locationX>
        <locationY>1116</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Uncheck_stock_expiry_notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Stock_Expiry_Alert.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>stockExpiryAlertBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>stockExpiryAlertTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>branchManagerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_admin_user_id</name>
        <label>Assign admin user id</label>
        <locationX>165</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>branchManagerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Admin_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Branch_Manager_Id</name>
        <label>Assign Branch Manager Id</label>
        <locationX>297</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>branchManagerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Branch_Manager_Id.Manager_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>branchManagerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Branch_Manager_Id.Godown_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_admin_is_not_null</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>stockExpiryAlertTitle</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Stock Expiry Alert!</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_admin_is_not_null</name>
        <label>Check admin is not null</label>
        <locationX>297</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>Send_Custom_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Admin_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_admin_user_id</targetReference>
            </connector>
            <label>Got Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stock_Expiry_Notification_Is_True_False</name>
        <label>Check Stock Expiry Notification Is True/False</label>
        <locationX>451</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stock_Expiry_Notification_Is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stock_expiry_notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Stock_Expiry_Alert</targetReference>
            </connector>
            <label>Stock Expiry Notification Is True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>stockExpiryAlertBody</name>
        <dataType>String</dataType>
        <expression>&apos;Expiry date for stock number &apos;+{!$Record.Name}+&apos; is close.&apos;</expression>
    </formulas>
    <interviewLabel>Send Stock Expiry Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Stock Expiry Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Admin_Id</name>
        <label>Get Admin Id</label>
        <locationX>297</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Branch_Manager_Id</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Branch_Manager_Id</name>
        <label>Get Branch Manager Id</label>
        <locationX>297</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Admin_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Branch__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Branch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stock_Expiry_Alert</name>
        <label>Get Stock Expiry Alert</label>
        <locationX>297</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Branch_Manager_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stock Expiry Alert</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Uncheck_stock_expiry_notification</name>
        <label>Uncheck stock expiry notification</label>
        <locationX>297</locationX>
        <locationY>1224</locationY>
        <inputAssignments>
            <field>Stock_expiry_notification__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Stock__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Send_notification_before_15_days</name>
            <connector>
                <targetReference>Check_Stock_Expiry_Notification_Is_True_False</targetReference>
            </connector>
            <label>Send notification before 15 days</label>
            <offsetNumber>-15</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Expiry_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>branchManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Branch__r.Manager_Name__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>branchManagerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
