force-app/main/default/flows/Send_Vehicle_Maintenance_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Vehicle_Maintenance_Alert_Notification</name>
        <label>Vehicle Maintenance Alert Notification</label>
        <locationX>264</locationX>
        <locationY>1440</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Unheck_Send_Maintenance_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Vehicle_Maintenance_Alert_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>alertMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>alertTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientsIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Record_Owner_In_Recipient_Ids</name>
        <label>Add Record Owner In Recipient Ids</label>
        <locationX>352</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>recipientsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vehicle_Maintenance_Alert_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_System_Admins_In_Recipient_Ids</name>
        <label>Add System Admins In Recipient Ids</label>
        <locationX>352</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>recipientsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_System_Admin_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_System_Admin_Users</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>alertTitle</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Vehicle Maintenance Alert!</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_Owner_Is_Not_A_System_Admin</name>
        <label>Check If Owner Is Not A System Admin</label>
        <locationX>264</locationX>
        <locationY>1104</locationY>
        <defaultConnector>
            <targetReference>Add_Record_Owner_In_Recipient_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner Is Not A System Admin</defaultConnectorLabel>
        <rules>
            <name>Owner_Is_A_System_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientsIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_Maintenance_Alert_Notification</targetReference>
            </connector>
            <label>Owner Is A System Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_maintenance_notification_True_False</name>
        <label>Send maintenance notification True/False</label>
        <locationX>440</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_maintenance_notification_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Maintenance_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vehicle_Maintenance_Alert_Notification</targetReference>
            </connector>
            <label>Send maintenance notification is True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>alertMessage</name>
        <dataType>String</dataType>
        <expression>&apos;The vehicle needs maintenance. Vehicle Name is &apos;+ {!$Record.Name}+&apos;.&apos;</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Send {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Vehicle Maintenance Notification</label>
    <loops>
        <name>Iterate_Over_System_Admin_Users</name>
        <label>Iterate Over System Admin Users</label>
        <locationX>264</locationX>
        <locationY>768</locationY>
        <collectionReference>Get_System_Admin_User_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_System_Admins_In_Recipient_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_Owner_Is_Not_A_System_Admin</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_System_Admin_Id</name>
        <label>Get System Admin Id</label>
        <locationX>264</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_System_Admin_User_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Admin_User_Ids</name>
        <label>Get System Admin User Ids</label>
        <locationX>264</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_System_Admin_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_System_Admin_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle_Maintenance_Alert_Notification</name>
        <label>Get Vehicle Maintenance Alert Notification</label>
        <locationX>264</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_System_Admin_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vehicle Maintenance Alert</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Unheck_Send_Maintenance_Notification</name>
        <label>Unheck Send Maintenance Notification</label>
        <locationX>264</locationX>
        <locationY>1560</locationY>
        <inputAssignments>
            <field>Send_Maintenance_Notification__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle_maintenance_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Send_Scheduled_Maintenance_Notification_For_Vehicle</name>
            <connector>
                <targetReference>Send_maintenance_notification_True_False</targetReference>
            </connector>
            <label>Send Scheduled Maintenance Notification For Vehicle</label>
            <offsetNumber>-7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Vehicle_maintenance_date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>priorMaintenanceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record__Prior.Vehicle_maintenance_date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recipientsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
